body {
  font-family: var(--ff-sans-serif);
  background-color: var(--clr-black);
  user-select: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.main-nav {
  z-index: 100;
  position: fixed;
  inset: 0;
  translate: 100% 0;
  transition: 0s;
  background-color: var(--clr-black);
  color: var(--clr-grey-1);
}

/* --------------------------- */

.burger {
  position: absolute;
  z-index: 10;
  left: 1rem;
}
.burger:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked + .burger .rect-1 {
  y: 15px;
  rotate: 45deg;
}
input[type="checkbox"]:checked + .burger .rect-2 {
  opacity: 0;
}
input[type="checkbox"]:checked + .burger .rect-3 {
  rotate: -45deg;
  y: 15px;
}
rect {
  fill: var(--clr-grey-1);
  transition: 0.5s ease-in-out;
  transform-origin: center center;
}
svg {
  overflow: visible;
}

/* ---------------------------- */

.hover-cursor:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--clr-black);
}
.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-nav__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  height: 50vh;
}

.main-nav__item {
  list-style: none;
  padding: 1em;
}

.main-nav__link {
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
}

.main-nav__link--active {
  border-left: solid 5px var(--clr-red);
}

.main-nav__link:hover {
  border-radius: 2rem;
  background-color: var(--clr-opacity-50);
}

input[type="checkbox"] {
  appearance: none;
  transition: 0s;
}

input[type="checkbox"]:checked ~ .main-nav {
  translate: 0% 11%;
  transition: 0s;
}

.svg-container-avatar {
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.svg-container-logo {
  object-fit: cover;
  width: 6rem;
  height: 1.5rem;
}

.select {
  width: 5rem;

  margin: 1rem 0rem 1rem 1rem;
  padding: 0.2rem;
  font-size: var(--fz-s);

  color: var(--clr-grey-1);
  border-radius: 0.25em;
  border: solid 2px var(--clr-grey-1);

  background: var(--clr-opacity-5);
  cursor: pointer;
}
.select:focus {
  outline: none;
}

.carrousel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}

.carrousel__items-container {
  width: 100%;
  flex-shrink: 0;
  animation: slider-1 35s infinite ease-in-out;
}

@keyframes slider-1 {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}

.titre-section {
  padding: 1rem;
  color: var(--clr-grey-1);
  font-size: var(--fz-l);
}

.tv-direct {
  margin: 2rem 0rem 2rem 0rem;
}

.tv-direct__slider-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
}

.tv-direct__slider-container-item {
  flex-shrink: 0;
  margin: 2rem;
  animation: slider-2 15s ease-in-out infinite alternate;
}

.tv-direct__img {
  background-color: var(--clr-opacity-50);
  border-radius: 0.2rem;
}

.tv-direct__img-titre {
  color: var(--clr-grey-1);
  font-size: var(--fz-m);
}

@keyframes slider-2 {
  to {
    transform: translateX(-300%);
  }
}

.nos-film__cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  gap: 0.4rem;
}

.nos-film {
  margin: 2rem 0rem 2rem 0rem;
}

@keyframes slider-3 {
  to {
    transform: translateX(-1000%);
  }
}
