/* body {
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5)), url('../asset/bg.jpg');
}

.dayorweek {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.week {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:0;
    margin-top: .5em;
    text-align: center;
    
}

.week h1 {
    margin: 2%;
    font-size: xx-large;
    color: white;
    font-size:xx-large;
    font-weight:700;
    font-family: 'Corinthia', cursive;
}

.week button{
    margin:10px;
}


.menus {
    display: flex;
    justify-content: center;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
/* .slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



#app:has(input[type=checkbox]:checked) #days{
  visibility: hidden;
} */
body {
  background-color: var(--clr-bg);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 8rem;
}
.btn {
  margin: 2rem;
  height: min-content;
  padding: 1rem 7rem;
  background-color: var(--clr-btn);
  color: var(--clr-btn-txt);
  border-radius: 3rem;
  font-family: "Roboto";
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
}

.btn:hover {
  border: solid 2px var(--clr-btn);
  background-color: var(--clr-transparant);
  color: var(--clr-btn);
  scale: 1.05;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;

  padding: 1.5rem;
}

.player-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;

  padding: 1.5rem;
}

.select-categorie {
  margin: 2rem;
  font-family: var(--ff);
  width: 20rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--clr-transparant);
  border-color: var(--clr-paragraph);
  color: white;
  border-radius: 0.25em;
  cursor: pointer;
}
.select-categorie:focus {
  outline: none;
}

.select-categorie__option {
  font-family: var(--ff);
  font-size: 1.5rem;
  color: var(--clr-background);
  background-color: var(--clr-white);
}
