body {
  background-color: var(--clr-bg);
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 4rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;

  padding: 1.5rem;
}

.player-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;

  padding: 1.5rem;
}
.cards-playlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;

  padding: 1.5rem;
}

.carroussel {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
