@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  --clr-dark: hsl(253, 69%, 8%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-background-white: #e5e5e5;

  --clr-background: #0f0e17;
  --clr-headline: #fffffe;
  --clr-paragraph: #a7a9be;
  --clr-btn: #ff8906;
  --clr-btn-txt: #fffffe;
  --clr-stroke: black;
  --clr-main: #fffffe;
  --clr-highlight: #ff8906;
  --clr-secondary: #f25f4c;
  --clr-tertiary: #e53170;

  --clr-transparant:rgba(0, 0, 0, 0.01)

  --ff-sans: "DM sans", sans-serif;
  --ff :'roboto';

  --clr-bg: var(--clr-background);
  --clr-fg: var(--clr-dark);

}
