a {
  text-decoration: none;
}

.card-moin__title {
  margin: 0rem;
  color: var(--clr-headline);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}
.card-moin:hover {
  scale: 1.1;
  transition: ease-in 0.2s;
}
.card-moin__img {
  width: 21.25rem;
  height: 11.5rem;
  border-radius: 0.5rem;
}
.card-moin__img:hover {
  cursor: pointer;
}
.card-moin__realisateur {
  color: var(--clr-headline);
  margin-top: 0.5rem;
  font-family: "Roboto";
  text-align: left;
  font-size: 1rem;
  opacity: 0.9;
}

.card-moin__year {
  color: var(--clr-headline);
  margin-top: 0rem;
  font-family: "Roboto";
  text-align: left;
  font-size: 1rem;
  opacity: 0.9;
}

.card-moin__top {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-moin__svg:hover {
  transition: 0.5s ease-in-out;
  scale: 1.3;
  cursor: pointer;
}
