<div class="card-moin">
  <!-- <a target="_blank" href="https://www.youtube.com/watch?v={{url_trailer}}"
    >
  </a> -->
  <img
    src="{{url_image}}"
    alt="{{alt_image}}"
    class="card-moin__img"
    onclick="requestMoviesTrailer('{{id_movies}}')"
  />
  <div class="card-moin__top">
    <h2 class="card-moin__title">{{titre}}</h2>
    <div class="card-moin__svg">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="white"
      >
        <path
          d="M6 18L18 6M6 6L18 18"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
  <p class="card-moin__realisateur">{{realisateur}}</p>
  <p class="card-moin__year">{{annee}}</p>
</div>
