input[type="radio"] {
  display: none;
}

.card-carroussel {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container {
  width: 80%;
  max-width: 50rem;
  max-height: 37.5rem;
  height: 80%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cards-carroussel {
  width: 80%;
  max-height: 80%;
  overflow: hidden;
}

.carroussel-img {
  width: 80%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards-carroussel #song-3,
#item-2:checked ~ .cards-carroussel #song-1,
#item-3:checked ~ .cards-carroussel #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards-carroussel #song-2,
#item-2:checked ~ .cards-carroussel #song-3,
#item-3:checked ~ .cards-carroussel #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards-carroussel #song-1,
#item-2:checked ~ .cards-carroussel #song-2,
#item-3:checked ~ .cards-carroussel #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

  .carroussel-img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}
