<div class="container">
  <input type="radio" name="slider" id="item-1" checked />
  <input type="radio" name="slider" id="item-2" />
  <input type="radio" name="slider" id="item-3" />
  <div class="cards-carroussel">
    <label class="card-carroussel" for="item-1" id="song-1">
      <img
        class="carroussel-img"
        src="../asset/affiche carroussel/INTERSTELLAR.jpg"
        alt="song"
      />
    </label>
    <label class="card-carroussel" for="item-2" id="song-2">
      <img
        class="carroussel-img"
        src="../asset/affiche carroussel/le-labyrinthe.jpg"
        alt="song"
      />
    </label>
    <label class="card-carroussel" for="item-3" id="song-3">
      <img
        class="carroussel-img"
        src="../asset/affiche carroussel/projetX.jpg"
        alt="song"
      />
    </label>
  </div>
</div>
