@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./variables.css";
@import "./reset.css";

body {
  background-color: var(--clr-grey-5);

  color: var(--clr-grey-1);
  font-family: var(--ff-sans-serif);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin: 2rem;
}

.title {
  margin-bottom: 3rem;
  color: var(--clr-grey-1);
  font-weight: 700;
  font-size: 4rem;
  text-decoration: none;
}

.h2 {
  font-size: var(--fz-l);
  font-weight: 700;
  margin: top 3rem;
  color: var(--clr-grey-1);
}

.btn {
  width: 25rem;
  border: solid 6px var(--clr-grey-1);
  margin: 1rem;
  height: min-content;
  padding: 0.5rem;
  background-color: var(--clr-grey-1);
  color: var(--clr-grey-5);
  border-radius: 3rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  text-align: center;
  font-size: var(--fz-l);
  text-decoration: none;
}

.btn:hover {
  border: solid 6px var(--clr-grey-1);
  background-color: var(--clr-grey-5);
  color: var(--clr-grey-1);
  scale: 1.05;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.btn-submit {
  border: solid 6px var(--clr-red);
  background-color: var(--clr-red);
  color: var(--clr-grey-1);
}
.btn-submit:hover {
  border: solid 6px var(--clr-red);
  background-color: var(--clr-grey-5);
  color: var(--clr-red);
}

.h3 {
  color: var(--clr-grey-2);
  font-size: var(--fz-m);
  text-decoration: underline;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}

h3 {
  font-size: 2rem;
  text-decoration: underline;
}

input {
  width: 30rem;
  padding: 1rem 4rem 1rem 1rem;
  text-align: left;
  border-radius: 0.5rem;
  background-color: var(--clr-grey-1);
  border: solid 2px var(--clr-grey-1);
  color: var(--clr-grey-5);
}

select {
  width: 30rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--clr-grey-5);
  border-color: var(--clr-grey-1);
  color: var(--clr-grey-1);
  border-radius: 0.25em;
  cursor: pointer;
}

select:focus {
  outline: none;
}

option {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background-color: var(--clr-grey-5);
}

.update {
  padding: 1rem;
  background-color: var(--clr-red);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.update:hover {
  background-color: var(--clr-grey-5);
  scale: 1.05;
  transition: ease-in-out 0.2s;
  border: solid 2px var(--clr-red);
  color: var(--clr-grey-1);
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
