body {
  user-select: none;
}
.card__title {
  margin: var(--margin-bottom);
  color: var(--clr-highlight);
  font-weight: var(--fw-h3);
  font-size: var(--fs-h3);
  text-decoration: none;
  text-transform: uppercase;
}

.card__description {
  color: var(--clr-paragraph);
  text-align: left;
  font-size: var(--fs-body);
  opacity: 0.9;
  margin: var(--margin-none);
}

.card {
  background-color: var(--clr-main);
  border: solid 6px var(--clr-stroke);
  border-radius: 0.5rem;
  padding: var(--padding-card);
}

.cardH:hover {
  scale: 1.1;
  transition: ease-in 0.2s;
}

.card__img {
  width: 21.25rem;
  height: 11.5rem;
  border-radius: 0.5rem;
}
.card__img:hover {
  cursor: pointer;
}

.card__svg:hover {
  transition: 0.5s ease-in-out;
  scale: 1.3;
  cursor: pointer;
}

.card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 0rem;

  width: 100%;
}

.card__svg {
  display: flex;
}

.card__svg:hover {
  scale: 1.1;
  transition: 0.5s ease-in-out;
}

.h2 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h2);
  margin: var(--margin-top);
  color: var(--clr-paragraph);
}

.select {
  width: 20rem;

  margin: var(--margin-m);
  padding: var(--padding-select);

  font-family: var(--ff);
  font-weight: var(--fw_body);
  font-size: var(--fs-body);

  color: var(--clr-paragraph);
  border-radius: 0.25em;
  border: solid 6px var(--clr-stroke);

  background: var(--clr-transparant);
  cursor: pointer;
}
.select:focus {
  outline: none;
}

.select__option {
  margin: var(--margin-m);
  padding: var(--padding-select);

  width: 20rem;

  font-family: var(--ff);
  font-weight: var(--fw_body);
  font-size: var(--fs-body);
  color: var(--clr-paragraph);

  background: var(--clr-background);

  border: solid 2px var(--clr-stroke);
  border-radius: 0.25em;
  cursor: pointer;
}

.btn {
  width: 20rem;
  border: solid 6px var(--clr-stroke);
  margin: var(--margin-m);
  padding: var(--padding-top-bot);
  height: min-content;
  background-color: var(--clr-btn);
  color: var(--clr-btn-txt);
  border-radius: 3rem;
  letter-spacing: 0.2rem;
  font-weight: var(--fw-h2);
  text-align: center;
  font-size: var(--fs-h2);
  text-decoration: none;
}

.btn:hover {
  border: solid 6px var(--clr-btn);
  background-color: var(--clr-transparant);
  color: var(--clr-btn);
  scale: 1.05;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.tendance-title {
  color: var(--clr-main);
  margin: 2rem 2rem 0rem 2rem;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--clr-stroke);
}

.box {
  position: relative;
  display: flex;
}

.input {
  padding: 0.1rem;
  width: 10rem;
  height: 2rem;
  background: none;
  border: 2px solid black;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 0.75rem;
  color: black;
  font-weight: 700;
  outline: none;
  transition: 0.5s;
}
.input:focus {
  background: lightslategray;
}
.input[type="text"]::placeholder {
  color: black;
}
.box:hover .input {
  width: 20rem;
  background: none;
  border-radius: 1.5rem;
}
.box i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: black;
  transition: 0.2s;
}
.box:hover i {
  opacity: 0;
  z-index: -1;
}
.titre-section {
  padding: 0.5rem;
  color: black;
  font-size: 2rem;
}
