@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./variables.css";
@import "./reset.css";

body {
  background-color: var(--clr-background);

  color: var(--clr-white);
  font-family: var(--ff);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin: 3rem;
}

.title {
  margin: var(--margin-bottom);
  color: var(--clr-highlight);
  font-weight: var(--fw-h3);
  font-size: 6rem;
  text-decoration: none;
}

.h2 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-h2);
  margin: var(--margin-top);
  color: var(--clr-paragraph);
}

.btn {
  border: solid 6px var(--clr-stroke);
  margin: var(--margin-m);
  height: min-content;
  padding: var(--padding-btn);
  background-color: var(--clr-btn);
  color: var(--clr-btn-txt);
  border-radius: 3rem;
  letter-spacing: 0.2rem;
  font-weight: var(--fw-h2);
  text-align: center;
  font-size: var(--fs-h2);
  text-decoration: none;
}

.btn:hover {
  border: solid 6px var(--clr-btn);
  background-color: var(--clr-transparant);
  color: var(--clr-btn);
  scale: 1.05;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.h3 {
  color: var(--clr-paragraph);
  font-size: var(--fs-h2);
  text-decoration: underline;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}

h3 {
  font-size: 2rem;
  text-decoration: underline;
}

input {
  width: 30rem;
  padding: 1rem 4rem 1rem 1rem;
  text-align: left;
  border-radius: 0.5rem;
  background-color: var(--clr-transparant);
  border: solid 2px var(--clr-paragraph);
  color: var(--clr-paragraph);
}

select {
  width: 30rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--clr-transparant);
  border-color: var(--clr-paragraph);
  color: var(--clr-paragraph);
  border-radius: 0.25em;
  cursor: pointer;
}

select:focus {
  outline: none;
}

option {
  font-size: 1.5rem;
  color: var(--clr-paragraph);
  background-color: var(--clr-white);
}

.update {
  padding: 1rem;
  background-color: var(--clr-tertiary);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.update:hover {
  background-color: var(--clr-transparant);
  scale: 1.05;
  transition: ease-in-out 0.2s;
  border: solid 2px var(--clr-tertiary);
  color: var(--clr-tertiary);
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
